<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="static/css/fileUpload.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="mainContainer" class='bg'>
			<div id="secondContainer" class='secondBg'></div>
		</div>
		<script src="static/js/dragDrop.js"></script>
		<script src="static/js/backgroundShow.js"></script>
	</body>
</html>

